.form {
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $white;

  @media (max-width: $desktop) {
    width: 50%;
  }

  @media (max-width: $tablet) {
    width: 80%;
    padding: 10px 10px 20px;
  }
}

.form__close {
  @include button();
  @include font(12px, 12px, 400);
  position: relative;
  align-self: flex-end;
  grid-area: button;
  padding: 10px;
  margin-bottom: 10px;
  background-color: $accent;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  &::before {
    @include pseudo();
    width: 20px;
    height: 2px;
    top: 50%;
    left: 50%;
    background-color: $white;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: none;
  }

  &::after {
    @include pseudo();
    width: 2px;
    height: 20px;
    top: 50%;
    left: 50%;
    background-color: $white;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:hover {
    background-color: $accent-hover;
    transform: rotate(180deg);
    transition: $tr;
  }

  &:active {
    background-color: $accent;
    transform: rotate(-180deg) scale(0.8);
    transition: $tr;
  }
}

.form__input,
.form__textarea {
  width: 80%;
  overflow-wrap: normal;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid $accent;
  border-radius: 6px;

  &:focus {
    border: 2px solid $accent-hover;
    background-color: rgba($accent, 0.1);
  }
}

.form__input--error {
  animation: buzz 0.6s;
  border-color: $accent;

  &::placeholder {
    color: $accent;
    opacity: 1;
  }
}

.form__textarea {
  resize: none;
  min-height: 60px;
  overflow-wrap: break-word;
}

.form__submit {
  @include button();
  @include font(12px, 12px, 400);
  grid-area: button;
  padding: 10px 40px;
  margin: 0 auto;
  color: $white;
  border-radius: 16px;

  &:hover {
    background-color: $accent-hover;
    transition: $tr;
  }

  &:active {
    background-color: $accent-active;
    transition: $tr;
  }

  @media (max-width: $tablet) {
    padding: 10px 30px;
    max-width: 70%;
  }
}

@keyframes buzz {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-4px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}
